<div class="container">

  <div class="jumbotron">
    <div class="container">

      <div class="col-md-3">
        <img [src]="profilePicPath" class="img-circle"
          alt="Nikhil Das Nomula" width="140" height="150" />
      </div>

      <div class="col-md-9">
        <i style="font-size: 25px;">
            Systems analyst - Saxon Global Inc<br />
            Sr Java Consultant - Eli Lilly and Company<br />
            President - Westfield toastmasters<br />
            Student - MBA - Ball State University<br />
            <!--I am excited to be a part of the world, where technology is making businesses and lives
            simpler. I strongly believe in Einstein's saying, "Simplicity is the ultimate
            Sophistication.".-->
        </i>
      </div>

    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <h2>Web/UI</h2>
          <p>This site is built with the MEAN stack, bootstrap along with HTML 5, CSS 3.
            The reason for this site is for me to share what I feel about various aspects of
            my career, life and also to showcase my UI skills to potential clients with whom
            I aim to develop long-lasting relationships.</p>
      </div>
      <div class="col-md-4">
          <h2>Java</h2>
          <p>Born and raised in Java, I currently build and enhance enterprise
            level applications for businesses. This has given me exposure to lots of frameworks
            and technologies on the backend w.r.t Java like Spring, Hadoop, Netezza,
            web-sockets. There are more new technologies that are coming up
            every day and I try to keep myself updated with them based on the business problem
            I am solving.</p>
      </div>
      <div class="col-md-4">
          <h2>Consulting</h2>
          <p>Experience in various industries, various teams has given me strong understanding
            of how important technology is for the business and I love solving business problems.
            Contact me if you are running into a problem or if you any questions
            regarding how to develop an application or enhance an application and I will see
            what I can do. Click the Contact Me tab on the menu and send me an email with what your
            problem is and I will get back to you at my earliest.</p>
      </div>
  </div>

</div>
