<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">

                <div class="panel-heading">
                    Qui suis-je
                </div>

                <div class="panel-body">

                    <p>

                    I am a technology enthusiast, who started coding in C and then moved to
                    Java. I remember when I was first introduced to C in my 8th grade,
                    I did not understand a bit about programming back then but I was always intrigued
                    about how things worked. The curiosity coupled with really good teachers,
                    I developed this urge for me to learn programming and solve problems using it.

                    <br/><br/>

                    I am currently working for an awesome company with great people,
                    and my perspective on what I am doing changed. I now use my technical
                    skills to solve business problems by collaborating with other individuals
                    to help companies achieve their objectives and goals.

                    <br/><br/>

                    In addition to technology, I am really interested about life and
                    I am enthusiastic about it. I often wonder how we can use our mind
                    and its power to achieve what we want. I want to make it big and I am
                    in the process.

                    <br/><br/>

                    My other hobbies include salsa(eating and dancing lol), travelling. I
                    love to meet new people and know about them. Everybody has a story to
                    tell and where they want to go. Some times I get drawn to those stories and I
                    end up going with them. I speak English, Hindi, Telugu and Urdu and learning french
                    and spanish.

                    <br/><br/>

                    </p>

                </div>

                <div class="panel-footer">
                <b>Technologies: Java/J2EE, HTML 5, Javascript, JQuery, CSS 3, Bootstrap,
                  Spring MVC, Spring web sockets, Spring JDBC, Struts, Netezza, Oracle,
                  SQL Server, C#, REST, SOAP, Stomp, Node, AngularJS, ExpressJS, MongoDB,
                  JBoss, Websphere, Tomcat</b>
                </div>

            </div>
        </div>
    </div>
</div>

<footer></footer>
